/*Carousel*/
.carousel{
    position: relative;
    
}

.carousel-item{
    display: flex;
    background-color: black;
}


.carousel-inner img{
    height: calc(100vh - 76px);
    width: 100%;
    opacity: 0.5;
}



/*Card Frase*/
.carousel__card{
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    
    top: 10%;
}

.carousel__card-text{
    font-weight:900;
    color: white;
}

.carousel__card-btn{
    display: flex;
    height: 50px;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    font-weight: 700;
    justify-content: center;
    align-items: center;
}

.carousel__card-btn:hover{
    text-decoration: none;
    border: none;
    color: white;
    background-color: #686868;
}


@media screen and (min-width: 0) {
    .carousel__card{
        width: 16%;
        padding: 10px 10px;
        left: 20%;
        justify-content: center;
        align-content: center;
        
    }
    .carousel__card-text{
        font-size: 3rem;
    }

    .carousel__card-btn{
        width:99%;
        border-radius: 5px;
        font-size: 0.7rem;
    }
    
}

@media screen and (min-width: 768px) {
    .carousel__card{
        width: 32%;
        padding: 10px 20px;
        left: 15%;
        justify-content: center;
        align-content:start;
    }
    .carousel__card-text{
        font-size: 5rem;
    }
    .carousel__card-btn{
        width:99%;
        border-radius: 10px;
        font-size: 1.05rem;
    }
    
}