/*Nosso time*/
.nossotime{
    background-image: url("../assets/miniramp.png");
    background-repeat: no-repeat;
    background-position: bottom;
}


.nossotime__contanier{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-content: center;
    justify-content: center;
    border-radius: 20%;
    margin-top: 18%;
    
}

.nossotime__card{
    display: flex;
    flex-direction: column;
    margin: 2% 5%;
    background-color: #F0E7DE;
    padding: 2% 2%;
    border-radius: 10px;
    align-items: center;
    position: relative;
}

.nossotime__img{
    width: 260px;
    height: 250px;
    border-radius: 50%;
    position: absolute;
    bottom: 85%;
}

.card-title{
    color: #DD8217;
    font-weight: bold;
} 

.line {
    border-top: 1px solid #686868;
    width: 100%;
}

.card-text{
    align-content: center;
}

.card__ocupation{
    font-weight: bold;
}