/*Nosso time*/
.nossotime{
    display: flex;
    flex-wrap: wrap;
}


.nossotime__contanier{
    display: flex;
    flex-wrap: wrap;
    width: 100%;   
}

.nossotime__card{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #F0E7DE;
    border-radius: 10px;
    align-items: center;
    position: relative;
}

.nossotime__img{
    border-radius: 100%;
    position: absolute;
}

.card-title{
    display: flex;
    color: #DD8217;
    font-weight: bold;
    align-self: center;
    justify-content: center;
} 

.line {
    border-top: 1px solid #686868;
    width: 100%;
}

.card__description{
    align-content: center;
    padding-top: 10px;
}

.card__ocupation{
    font-weight: bold;
}


@media screen and (min-width: 0) {
    .nossotime{
        flex-direction: column;
        background-image: none; 
    }
    .nossotime__contanier{
        flex-direction: column;
        align-content:flex-start;
        justify-content: center;
        margin-top: 4%;
    }
    .nossotime__card{
        margin: 9% 5%;
        padding: 2%;
    }
    .nossotime__img{
        width: 125px;
        height: 125px;
        bottom: 90%;
    }
    
}


@media screen and (min-width: 768px) {
    .nossotime{
        flex-direction: row;
        background-image: url("../assets/miniramp.png");
        background-repeat: no-repeat;
        background-position: bottom;
    }
    .nossotime__contanier{
        flex-direction: row;
        align-content: center;
        justify-content: center;
        margin-top: 2%;
    }
    .nossotime__card{
        margin: 5%;
        padding: 2%;
    }
    
    .nossotime__img{
        width: 250px;
        height: 250px;
        bottom: 85%;
    }
    
}