.nossoproduto{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.card-group-box{
    display: flex;
    flex-wrap: wrap;
    border: none;
    width: 80%;
}

.card-box-style{
    border-radius: 10px;
}

.card-box{
    width: 25%;
    height: 50%;
    background-color: #F0E7DE;
    margin: 2%;
}

.card-img-top-style{
    border-radius: 10px 10px 0 0;
    
}

.card-price{
    font-weight: 600;
}


@media screen and (min-width: 0){
    .nossoproduto{
        background-image: none;
    }
    .card-group-box{
        flex-direction: column;
        justify-content: center;
        align-self: center;
        margin-bottom: 10%;
    }
    .card-box-style{
        width: 80%;

    }
    .card-title{
        font-size: 1.5rem;
    }

    .card__description{
        font-size:  0.9rem;
    }
    .card-price{
        font-size: 1rem;
    }
}


@media screen and (min-width: 768px){
    .nossoproduto{
        justify-content: center;
        background-image: url("../assets/corrimaobg.png");
        background-repeat: no-repeat;
        background-position:  bottom right;
    }
    .card-group-box{
        flex-direction: row;
        justify-content: center;
        align-self: center;
        margin-bottom: 15%;
    }
    .card-box-style{
        width: 25%;
    }
    .card-price{
        font-size: 1.2rem;
    }
}