/*Quem somos*/
.quemsomos{
    display: flex;
    flex-direction: row;
    position: relative;
    background-color: white;
    align-items: center;
    justify-content: space-around;
    background-image: url("../assets/bowlskt.png");
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    margin: 2% 0%;
}

.quemsomos__contaniertext{
    width: 26%;
    display: flex;
    flex-direction: column;
    text-align: justify;
    margin-left: 10%;
    margin-top: 6%;
    
}

.quemsomos__titulo{
    font-weight: 700;
    font-size: 3.2em;
    margin-bottom: 20px;
    color: #DD8217;
}

.quemsomos__text{
    font-size: 1.2em;
    
}

.quemsomos__img{
    width: 20%;
    height: 40%;
    border-radius: 50%;
    margin-right: 8%;
}