body{
    display: inline-block;
    font-family: Lato, sans-serif;
}


.title_section{
    font-weight: 700;
    font-size: 3.2em;
    margin-bottom: 20px;
    color: #DD8217;
    width: 16%;
    flex-wrap: wrap;
    margin: 5%;
}


