body{
    display: inline-block;
    font-family: Lato, sans-serif;
}


.title_section{
    display: flex;
    align-self: flex-start;
    font-weight: 700;
    margin-bottom: 20px;
    color: #DD8217;
    flex-wrap: wrap;
    margin: 8% 5%;
}


@media screen and (min-width: 0){
    .title_section{
        font-size: 1.6em;
        width: 20%;
    }
}

@media screen and (min-width: 768px){
    .title_section{
        font-size: 3.2em;
        width: 16%;
    }
}