.rodape{
    width: 100%;
    display: flex;
    align-content: space-between;
    background-color: black;
    color: #acacac;
}


.rodape__contanier{
    display: flex;
    flex-direction: column;
    margin-top: 16px;
}

.logo-footer{
    width: 120px;
    height: 80px;
    margin-top: 16px;
    margin-bottom: 10px;
}

.rodape__titulo{
    font-size: 1.1rem;
    font-weight: 500;
    color: #DD8217;
}

.rodape__socialmedia{
    display: flex;
    margin-top: 36px;
}

.rodape__socialmedia a{
    margin-right: 18px;
}

@media screen and (min-width: 0){
    .rodape{
        flex-direction: column;
        justify-content: space-between;
        padding: 20px 10px;
    }

}

@media screen and (min-width: 768px){
    .rodape{
        flex-direction: row;
        justify-content: space-between;
        padding: 20px 70px;
    }
}