.rodape{
    width: 100%;
    display: flex;
    justify-content:  center;
    align-content: space-between;
    background-color: black;
    color: #acacac;
}


.rodape__contanier-rights{
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    margin-right: 40%;
}


.rodape__contanier{
    display: flex;
    flex-direction: column;
    justify-content:  center;
    align-content: space-between;
}

.rodape__contanier-address{
    display: flex;
    flex-direction: column;
    align-self: flex-end;
}


.logo-footer{
    width: 120px;
    height: 80px;
    margin-top: 16px;
    margin-bottom: 10px;
}

.rodape__contanier-infor{
    display: flex;
    flex-direction: row;
}

.rodape__titulo{
    font-size: 1.1rem;
    font-weight: 500;
    color: #DD8217;
}

.rodape__socialmedia{ 
    display: flex;
    justify-content: space-between;
    margin-right: 100px;
    margin-bottom: 38px;
}


@media screen and (min-width: 0){
    .rodape{
        flex-direction: column;
        justify-content: space-between;
        padding: 20px 10px;
    }

}

@media screen and (min-width: 768px){
    .rodape{
        flex-direction: row;
        justify-content: space-between;
        padding: 20px 70px;
    }
}