.cabecalho{
    display: flex;
    background-color: black;
}

.navbar{
    width: 100%;
    display: flex;
    margin: 10px 70px;
    background-color: transparent;
    align-content: flex-end;
    
}


ul a{
    margin: 5px 20px;
    padding: 10;
    text-decoration: none;
    color: #acacac;
}

ul a:hover{
    text-decoration: none;
    color: white;
}


.logo{
    width: 6%;
}

