.cabecalho{
    display: flex;
    background-color: black;
}

.navbar{
    display: flex;
    background-color: transparent;
    align-content: flex-end;
}

.navbar__list{
    display: flex;
}

.navbar__link{
    text-decoration: none;
    color: white;
}

.navbar__link:hover{
    text-decoration: none;
    color: #DD8217;
}



@media screen and (min-width: 0px){
    .cabecalho{
        flex-direction: column;
    }
    .navbar{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-content: flex-start;
        margin: 5px;  
    }

    .navbar__logo{
        width: 60px;
        align-self: flex-start;
        margin: 5px; 
    }

    .navbar__list{
        flex-direction: column;
        margin-top: 5px;
    }

    .navbar__item{
        margin-top: 4px;
    }

    .navbar__link{
        margin: 0px 10px;
        padding: 10;
    }
}


@media screen and (min-width: 768px){
    .cabecalho{
        flex-direction: row;
    }
    .navbar{
        width: 100%;
        display: flex;
        flex-direction: row;
        margin: 10px 70px;
    }

    .navbar__logo{
        width: 100px;
    }

    .navbar__list{
        flex-direction: row;
    }

    .navbar__link{
        margin: 5px 20px;
        padding: 10;   
    }
}