.cabecalho{
    display: flex;
    background-color: black;
}

.navbar{
    width: 100%;
    display: flex;
    margin: 10px 70px;
    background-color: transparent;
    align-content: flex-end;
    
}

.navbar__list{
    display: flex;
    flex-direction: row;
}

.navbar__link{
    margin: 5px 20px;
    padding: 10;
    text-decoration: none;
    color: #acacac;
}

.navbar__link:hover{
    text-decoration: none;
    color: white;
}


.navbar__logo{
    width: 6%;
}

